amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.18
certifi==2018.11.29
chardet==3.0.4
Django==2.0.9
django-celery==3.2.2
django-paypal==0.5.0
django-seed==0.1.9
djangorestframework==3.9.0
Faker==1.0.1
idna==2.8
kombu==3.0.37
Pillow==8.3.2
python-dateutil==2.7.5
pytz==2018.7
redis==2.10.3
requests==2.21.0
six==1.12.0
text-unidecode==1.2
urllib3==1.24.1
vine==1.1.4
